# req.txt

# Основная библиотека для бота
pyTelegramBotAPI==4.17.0

# Для загрузки переменных окружения из .env файла
python-dotenv==1.0.1

# Для обхода защиты Cloudflare на бирже
cloudscraper==1.2.7

# Зависимости cloudscraper и других библиотек
requests==2.31.0
charset-normalizer==3.3.2
idna==3.7
urllib3==2.2.1
certifi==2024.2.2
PySocks==1.7.1
psutil==5.9.8
