aiogram==3.10.0
requests==2.32.3
cloudscraper==1.2.71
python-dotenv==1.0.1
apscheduler==3.10.4
supabase
pyTelegramBotAPI
cerebras_cloud_sdk
pandas==2.1.4
numpy==1.25.2
aiohttp==3.9.1
loguru==0.7.2
pydantic==2.5.0
tenacity
ratelimit
